<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/style-to-do.css">
    <title>Do It Now</title>
</head>
<body>
    <h1 class="titulo">Do It Now</h1>

    <div class="to-do">
        <h2 class="to-do__titulo">Para Fazer:</h2>
        
        <input type="text" id="input-tarefa" placeholder="Adicionar nova tarefa" style="display:none;">
        <button onclick="AdicionarInput()" type="button" class="botao-add"><img src="/static/assets/botao-add.png"></button>
        <ul id="to-do__lista"></ul>

    </div>

    <div class="doing">
        <h2 class="doing__titulo">Fazendo:</h2>
        <ul id="doing__lista"></ul>
    </div>

    <div class="done">
        <h2 class="done__titulo">Feito!</h2>
        <ul id="done__lista"></ul>
    </div>

    <script src="/static/script.js"></script>

    <footer class="rodape">Desenvolvido por Taylam Moura - 2024</footer>
</body>
</html>